
<div class="user-signup">

<%= button_to 'Sign Up with Facebook', '/auth/facebook', method: :get, class: "buttonTo" %>
<br>
<%= button_to "Log In", signin_path, method: :get, :class => "buttonTo" %>
<br></br>
<%= render 'form' %>
</div>
