// Place all the styles related to the Companies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

* {
	box-sizing: border-box;
}

header {
  margin: auto;
}

body {
	font-size: 80%;
	line-height: 1.2;
  margin: 4em;
  max-width: 768px;
  column-gap: 1.5em;

}

.buttonType {
  font-family: serif;
  font-size: 16px;
  color: #4B0082;
  border-color: #4B0082;
  border-radius: 5px;
  margin: 10px;
}

img {
  width: 100%;
  display: block;
}

article {
  padding: 20px;
    border: 1px solid #999;
    border-radius: 5px;
    background: #fff;
    margin: 10px;
    break-inside: avoid-column;

}

main {

	columns: 250px;
	column-gap: 20px;



}
