
<!DOCTYPE html>
<html>
<body>
<div class="app-page">
  Welcome to UniquelyFem, an app for women to share experiences in the workplace
  <br><br></br>
  <div id="login">
    <%= button_to 'Log in with Facebook', '/auth/facebook', class: "buttonTo" %>
    <br>
   <%= button_to "Log In", signin_path, class: "buttonTo" %><br>
   <%= button_to "Sign Up", new_user_path, class: "buttonTo"%>
  </div>
</div>
</body>
</html>
